@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cloud text-ink;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #21564733;
  border-radius: 8px;
}
